<div class="sy-foot-socials">
    {%- include "components/foot-socials.html" -%}
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "5f275b27abf44556aa9a56e2e48433de"}'></script><!-- End Cloudflare Web Analytics -->
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "SoftwareApplication",
          "name": "Excel to JSON by WTSolutions",
          "description": "Excel to JSON by WTSolutionsis a toolset converts Excel spreadsheets into JSON format directly within Excel. Ideal for developers and data analysts. Includes Web App, Excel Add-in, API, MCP, WPS Add-in, Local App, Local Excel Add-in ",
          "applicationCategory": "Data Conversion",
          "operatingSystem": "Web, Windows, Mac, Linux"
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var links = document.querySelectorAll('a[href^="http"]');
            links.forEach(function (link) {
                link.setAttribute('target', '_blank');
                link.setAttribute('rel', 'origin');
            });
        });
    </script>
</div>